*, *::after, *::before {
    box-sizing: border-box;
}

* {
    font: inherit;
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

body, html {
    overflow-x: hidden;
}


img, picture, svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}